<!-- PROJECTS SECTION THUMBNAILS-->
<div class="projects" id="projects-scroll">
  <div class="row">
      <!-- CALCULATOR THUMBNAIL-->
       <div class="col-xs-12 col-md-4" id="calculator">
        <figure class="proj">
          <%= image_tag 'calculator.png', class: 'img-responsive' %>
          <figcaption>
            <h1><small>calculator</small></h1>
            <p>made with html, css, js</p>
            <a href="https://calculatorjs-jo.surge.sh"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/calculatorJS"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>
      <!-- TWITCHTV THUMBNAIL-->
       <div class="col-xs-12 col-md-4" id="twitch">
        <figure class="proj">
          <%= image_tag 'twitch.png', class: 'img-responsive' %>
          <figcaption>
            <h1><small>twitch TV</small></h1>
            <p>uses Twitch API</p>
            <a href="https://twitchtv-jo.surge.sh"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/twitch"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>
       <!-- WIKI VIEWER THUMBNAIL-->
       <div class="col-xs-12 col-md-4" id="wiki">
        <figure class="proj">
          <%= image_tag 'wiki.png', class: 'img-responsive' %>
          <figcaption>
            <h1><small>wiki viewer</small></h1>
            <p>uses MediaWiki API</p>
            <a href="https://wiki-jo.surge.sh"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/wiki"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>
    </div> <!-- end of row -->
    
    <br />
    <div class="row">
       <!-- WEATHER THUMBNAIL-->
      <div class="col-xs-12 col-md-4" id="weather">
        <figure class="proj">
          <%= image_tag 'weather.png', class: 'img-responsive' %>
          <figcaption>
            <h1><small>nimbus scout</small></h1>
            <p>uses DarkSky API, geocode/location w/ Node + Express</p>
            <a href="https://nimbusscout-jo.herokuapp.com"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/nimbusscout"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>  

      <!-- QUOTEMACHINE THUMBNAIL-->
      <div class="col-xs-12 col-md-4" id="quotemachine">
        <figure class="proj">
          <%= image_tag 'quotemachine.png', class: 'img-responsive' %>
          <figcaption>
            <h1><small>stoic in a box</small></h1>
            <p>stoic quotes using AWS</p>
            <a href="https://stoicinabox.surge.sh/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/stoicinabox"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>
      
      <!-- COMPOSITING PORTFOLIO THUMBNAIL-->
      <div class="col-xs-12 col-md-4" id="comp">
        <figure class="proj">
          <%= image_tag 'comp.png', class: 'img-responsive' %>
          <figcaption>
            <h1><small>comp portfolio</small></h1>
            <p>portfolio built for show reel</p>
            <a href="https://rebelcl0udmedia.herokuapp.com/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/jo"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>    
    </div> <!-- end of row -->
   
</div> <!-- end of project section -->
