<!-- PROJECTS SECTION THUMBNAILS-->
<div class="projects" id="projects-scroll">
  <div class="row">
      <!-- CALCULATOR THUMBNAIL-->
       <div class="col-xs-12 col-md-4" id="calculator">
        <figure class="proj">
          <%= image_tag 'calculator.png', class: 'img-responsive' %>
          <figcaption>
            <h2><small>calculator</small></h2>
            <p>made with html, css, js</p>
            <a href="https://calculatorjs-jo.surge.sh"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/calculatorJS"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
            <!-- TO BE ADDED: below adds icon to link external associated blog post -->
            <!--a href=""><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a-->
          </figcaption> 
        </figure> 
      </div>
      <!-- TWITCHTV THUMBNAIL-->
       <div class="col-xs-12 col-md-4" id="twitch">
        <figure class="proj">
          <%= image_tag 'twitch.png', class: 'img-responsive' %>
          <figcaption>
            <h2><small>twitch TV</small></h2>
            <p>uses Twitch API</p>
            <a href="https://twitchtv-jo.herokuapp.com"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/twitchtv"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>
       <!-- WIKI VIEWER THUMBNAIL-->
       <div class="col-xs-12 col-md-4" id="wiki">
        <figure class="proj">
          <%= image_tag 'wiki.png', class: 'img-responsive' %>
          <figcaption>
            <h2><small>wiki viewer</small></h2>
            <p>uses MediaWiki API</p>
            <a href="https://wikiviewer-jo.herokuapp.com"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/wikiviewer"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>
    </div> <!-- end of row -->
    
    <br />
    <div class="row">
       <!-- WEATHER THUMBNAIL-->
      <div class="col-xs-12 col-md-4" id="weather">
        <figure class="proj">
          <%= image_tag 'weather.png', class: 'img-responsive' %>
          <figcaption>
            <h2><small>weather app</small></h2>
            <p>uses DarkSky API, geocode/location</p>
            <a href="https://weatherapp-jo.herokuapp.com"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/weatherapp"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>  

      <!-- QUOTEMACHINE THUMBNAIL-->
      <div class="col-xs-12 col-md-4" id="quotemachine">
        <figure class="proj">
          <%= image_tag 'quotemachine.png', class: 'img-responsive' %>
          <figcaption>
            <h2><small>stoic in a box</small></h2>
            <p>stoic quotes using AWS</p>
            <a href="https://stoicinabox.surge.sh/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/stoicinabox"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>
      
      <!-- COMPOSITING PORTFOLIO THUMBNAIL-->
      <div class="col-xs-12 col-md-4" id="comp">
        <figure class="proj">
          <%= image_tag 'comp.png', class: 'img-responsive' %>
          <figcaption>
            <h2><small>comp portfolio</small></h2>
            <p>portfolio built for show reel</p>
            <a href="https://rebelcl0udmedia.herokuapp.com/"><i class="fa fa-external-link fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/rebelcl0ud/jo"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
          </figcaption> 
        </figure> 
      </div>    
    </div> <!-- end of row -->
   
</div> <!-- end of project section -->
