<!-- PROJECTS SECTION THUMBNAILS-->
<div class="projects" id="projects-scroll">
  <h3><div class= "hashtag">#</div> projects</h3>
  <br /><br />
  <div class="row">
      <!-- WEATHER THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="weather">
        <figure class="effect-honey">
          <a href="https://weatherapp-jo.herokuapp.com"><%= image_tag 'weather.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span></span-->
              <small>local weather- using DARK SKY API, GEOCODE, GEOLOCATION</small>
            </h2>
          </figcaption> 
        </figure> 
      </div>
    <!-- insert new proj here [new row] -->  
    </div> <!-- end of row -->
    
    <br />
    <div class="row">
      <!-- QUOTEAMCHINE THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="quotemachine">
        <figure class="effect-honey">
          <a href="https://quotemachine-jo.herokuapp.com"><%= image_tag 'quotemachine.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span></span-->
              <small>click to request random stoic quote (API)</small>
            </h2>
          </figcaption> 
        </figure> 
      </div>
      
      <!-- MEEP THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="meep">
         <figure class="effect-honey">
          <a href="https://meepmedia.herokuapp.com"><%= image_tag 'meep.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span></span-->
              <small>meep.media</small>
            </h2>
          </figcaption> 
        </figure>  
      </div> 
 
      <!-- CHESS THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="chess">
         <figure class="effect-honey">
         <a href="https://knights-chess.herokuapp.com"><%= image_tag 'knights-chess.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>Chess</span-->
              <small>click to play chess</small>
            </h2>
          </figcaption> 
        </figure>   
      </div> 

      <!-- GRAMMABLE THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="grammable">
         <figure class="effect-honey">
         <a href="https://grammable-jo.herokuapp.com"><%= image_tag 'grammable.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span></span-->
              <small>instagram-like mockup</small>
            </h2>
          </figcaption> 
        </figure>  
      </div> 
    </div> <!-- end of row -->
    
    <br />
    
    <div class="row"> 
      <!-- FLIXTER THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="flixter">
         <figure class="effect-honey">
         <a href="https://flixter-jo.herokuapp.com"><%= image_tag 'flixter.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>FLIXter</span-->
              <small>udemy-like mockup</small>
            </h2>
          </figcaption> 
        </figure>  
      </div>
    
      <!-- NOMSTER THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="nomster">
         <figure class="effect-honey">
          <a href="https://nomster-jo.herokuapp.com"><%= image_tag 'nomster.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>NOMster</span-->
              <small>click for Miami NOMs</small>
            </h2>
          </figcaption> 
        </figure>  
      </div>

      <!-- SPLURTY THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="splurty">
        <figure class="effect-honey">
         <a href="https://splurty-jo.herokuapp.com"><%= image_tag 'splurty.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>Zen</span-->
              <small>click to store quote</small>
            </h2>
          </figcaption> 
        </figure> 
      </div>

      <!-- COMPOSITING PORTFOLIO THUMBNAIL-->
      <div class="col-xs-12 col-md-3" id="comp">
        <figure class="effect-honey">
         <a href="https://jo-jo.herokuapp.com"><%= image_tag 'comp.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span></span-->
              <small>compositing portfolio</small>
            </h2>
          </figcaption> 
        </figure> 
      </div>    
    </div>  <!-- end of row -->
</div> <!-- end of project section -->
