<!-- TOP SECTION -->
<br /><br /><br />
<!-- ALERT MESSAGE [put in this section so it overlays pic instead of offset page]-->
<% if flash[:notice] %>
  <div class="text-center alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice].html_safe unless flash[:notice].blank? %>
  </div>
<% end %>

<!-- ABOUT SECTION [in PROGRESS] -->
<%= render 'main/about' %>
<br class="clr" /> <!--projects starts fresh -->

<!-- PROJECTS -->
<%= render 'main/projects' %>
<br class="clr" /> <!--social starts fresh -->

<!-- CONTACTS SECTION --> 
<div class="contact" id="contact-scroll">
<!--div class="contact" id="contact-scroll"-->
    <div class="col-md-4 col-md-offset-4">
      <h3>Or... drop me a line here</h3>
      <br />
      <%= simple_form_for Contact.new do |f| %>
        <%= f.input :name %>
        <br />
        <%= f.input :email %>
        <br />
        <%= f.input :message %>
        <br />
        <%= f.button :submit,"Send!", class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>

<!-- -->

<script>
  //the hidden/visible back to top
  $(document).ready(function(){
    
    //check if window is at top
    $(window).scroll(function(){
      if($(this).scrollTop() > 100) {
         $('.scrollToTop').fadeIn();
      } else {
         $('.scrollToTop').fadeOut();
      }
    });

    //click for scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop: 0}, 400);
    });
  
    //scroll
    $('body').scrollspy({target: 'projects-scroll'})
    $('body').scrollspy({target: 'social-scroll'})
    $('body').scrollspy({target: 'navbar-scroll'})
  });
</script> 