<div class="hero">
  <!--h1>HEBWO</h1-->
</div>


<div class="projects">
  <h3>Projects</h3>
  <br />
    <div class="row">
      <div class="col-xs-6 col-md-3" id="splurty">
        <%= image_tag 'splurty.png', class: 'img-responsive' %>
        <div class="portfolio-caption">
          ...
        </div>   
      </div>
      

      <div class="col-xs-6 col-md-3" id="nomster">
       <%= image_tag 'nomster.png', class: 'img-responsive' %>
        <div class="portfolio-caption">
          ...
        </div>   
      </div>
      

      <div class="col-xs-6 col-md-3" id="flixter">
        <%= image_tag 'flixter.png', class: 'img-responsive' %>
        <div class="portfolio-caption">
          ...
        </div>   
      </div>

      <div class="col-xs-6 col-md-3" id="chess">
        <%= image_tag 'knights-chess.png', class: 'img-responsive' %>
        <div class="portfolio-caption">
          ...
        </div>   
      </div>
      
    </div>
</div>

<div class="social">
  <!--h3>Recon</h3-->
  <div class="col-md-3 col-md-offset-5">
    <%= image_tag 'github.png', class: 'social-button' %> 
    <%= image_tag 'linkedin.png', class: 'social-button' %> 
    <%= image_tag 'twitter.png', class: 'social-button' %> 
  </div>

</div>

<div class="contact">
  <div class="col-md-12">
    <!--h4>jovanka.placeres@gmail.com</h4-->
  </div>
</div>

 