
<!-- HERO PIC / TOP SECTION -->
<div class="hero">
  <div class="frosty col-xs-12 text-right">
    <h1>Web Development</h1>
    <h4 id="subheader">fueled by <%= image_tag 'soda.png', class: 'social-button', id: 'soda' %></h4>
  </div>
</div>

<!-- TESTING => trying to get a popup w/image such as with form inside modal -->

<!-- trigger modal -->
   <!--div class="col-xs-6 col-md-3" id="splurty">
        <figure class="effect-honey" data-toggle="modal" data-target="#myModal">
        <%= image_tag 'splurty.png', class: 'img-responsive' %>
          <figcaption>
            <h2>
              <span>Zen</span>
              <small>| Quotes Generator</small>
            </h2>
          </figcaption> 
        </figure> 
      </div-->

<!-- Modal -->
<!--div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!--where pic would go inside modal --> 
        
      <!--/div>
    </div>
  </div>
</div-->
<!-- TESTING ENDS HERE -->
<!-- above works using splurty thumbnail as example, need to cycle through images [DRY]-->

<!-- PROJECTS SECTION THUMBNAILS-->
<div class="projects" id="projects-scroll">
  <h3><div class= "hashtag">#</div> projects</h3>
  <br /><br />
    <div class="row">
      <!-- SPLURTY THUMBNAIL-->
      <div class="col-xs-3" id="splurty">
        <figure class="effect-honey" data-toggle="modal" data-target="#myModal">
         <a href="https://splurty-jo.herokuapp.com"><%= image_tag 'splurty.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>Zen</span-->
              <small>click to add quote</small>
            </h2>
          </figcaption> 
        </figure> 
      </div>
      <!-- NOMSTER THUMBNAIL-->
      <div class="col-xs-3" id="nomster">
         <figure class="effect-honey">
          <a href="https://nomster-jo.herokuapp.com"><%= image_tag 'nomster.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>NOMster</span-->
              <small>click for Miami NOMs</small>
            </h2>
          </figcaption> 
        </figure>  
      </div>
      
      <!-- FLIXTER THUMBNAIL-->
      <div class="col-xs-3" id="flixter">
         <figure class="effect-honey">
         <a href="https://flixter-jo.herokuapp.com"><%= image_tag 'flixter.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>FLIXter</span-->
              <small>click if Dragon Age-er</small>
            </h2>
          </figcaption> 
        </figure>  
      </div>

      <!-- CHESS THUMBNAIL-->
      <div class="col-xs-3" id="chess">
         <figure class="effect-honey">
         <a href="https://knights-chess.herokuapp.com"><%= image_tag 'knights-chess.png', class: 'img-responsive' %></a>
          <figcaption>
            <h2>
              <!--span>Chess</span-->
              <small>click to play chess</small>
            </h2>
          </figcaption> 
        </figure>   
      </div>
      
    </div>
</div>

<!-- ABOUT SECTION can go here -->

<br class="clr" /> <!--makes certain social starts fresh -->


<!-- CONTACT/SOCIAL MEDIA SECTION -->
<!-- use this section until you decide whether you want to add the contact form or not officially -->
<!-- some ppl hate the email icon opening their mail app, some hate contact boxes lol -->

<div class="contact" id="contact-scroll">
  <hr />
  <h3><div class="hashtag">#</div> contact</h3>
  <br /><br />
  <!-- Bootstrap offset great for CENTERing EVEN items, below worked for ODD set of buttons-->
  <div class="container">
    <div class="row row-centered">
      <div class="col col-centered">
        <a href="https://www.linkedin.com/in/jovankaplaceres"><%= image_tag 'linkedin.png', class: 'social-button' %></a> 
        <a href="https://twitter.com/mysticalstate"><%= image_tag 'twitter.png', class: 'social-button' %></a>
        <a href="https://github.com/rebelcl0ud/"><%= image_tag 'github.png', class: 'social-button' %></a>
      </div>
    </div>
  </div>
</div>
<br />
<hr />

<br class="clr" /> <!--makes certain contacts starts fresh -->

<!-- CONTACTS SECTION --> 
<!-- FORM has no functionality yet-->

<!--div class="contact" id="contact-scroll">
    <h3>Or... drop me a line</h3>
    <br /><br />
    <div class="boom-box col-md-6 col-md-offset-3">
    <div class="col-md-10 col-md-offset-1">
      <form>
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="name" class="form-control" id="exampleInputName" placeholder="Peter Parker">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="pparker@dailybugle.com">
        </div>
        <div class="form-group">
          <label for="exampleInputMessage">Message</label>
          <input type="message" class="form-control" id="exampleInputMessage" placeholder="Spidey pics coming your way!">
        </div>
        <br />
        <button type="submit" class="btn btn-info">SEND!</button>
        <br />
      </form>
    </div>
  </div>
</div-->

<!-- BACK TO TOP -->
<div class="extra">
  <div class="col-md-12">
    <h5><a href="#navbar-scroll">back to top^</a></h5>
  </div>
</div>

<!-- -->

<script>
  //scroll
  $('body').scrollspy({target: 'projects-scroll'})
  $('body').scrollspy({target: 'social-scroll'})
  $('body').scrollspy({target: 'navbar-scroll'})

</script>









 