<!-- HERO PIC / TOP SECTION -->
<div class="hero">
   <!-- ALERT MESSAGE [put in this section so it overlays pic instead of offset page]-->
    <% if flash[:notice] %>
      <div class="text-center alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice].html_safe unless flash[:notice].blank? %>
      </div>
    <% end %>

  <div class="col-xs-12 text-right" id="contact-button">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
      Contact Me!
    </button>
  </div>
</div>

<!-- PROJECTS -->
<%= render 'main/projects' %>
<br class="clr" /> <!--about starts fresh -->

<!-- ABOUT SECTION [in PROGRESS] -->
<%= render 'main/about' %>
<br class="clr" /> <!--social starts fresh -->

<!-- SOCIAL MEDIA SECTION -->
<div class="social" id="social-scroll">
  <h3><div class="hashtag">//</div> social</h3>
  <br /><br />
  <!-- Bootstrap offset great for CENTERing EVEN items, below worked for ODD set of buttons-->
  <div class="container">
    <div class="row row-centered">
      <div class="col col-centered">
        <a href="https://github.com/rebelcl0ud/"><%= image_tag 'github.png', class: 'social-button' %></a>
        <a href="https://www.linkedin.com/in/jovankaplaceres"><%= image_tag 'linkedin.png', class: 'social-button' %></a>
        <a href="https://twitter.com/mysticalstate"><%= image_tag 'twitter.png', class: 'social-button' %></a>
        <!-- Codepen; some things not pushed to github-->
        <!--a href="http://codepen.io/rebelcl0ud/"><%= image_tag 'codepen.png', class: 'social-button' %></a--> 
      </div>
    </div>
  </div>
</div>
<br />
<br class="clr" /> <!--contacts starts fresh -->

<!-- CONTACTS SECTION --> 
<div class="contact" id="contact-scroll">
    <div class="boom-box col-md-6 col-md-offset-3">
      <h3>Or... drop me a line</h3>
      <br />
      <%= simple_form_for Contact.new do |f| %>
        <%= f.input :name %>
        <br />
        <%= f.input :email %>
        <br />
        <%= f.input :message %>
        <br />
        <%= f.button :submit,"Send!", class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>

<!-- -->

<script>
  //the hidden/visible back to top
  $(document).ready(function(){
    
    //check if window is at top
    $(window).scroll(function(){
      if($(this).scrollTop() > 100) {
         $('.scrollToTop').fadeIn();
      } else {
         $('.scrollToTop').fadeOut();
      }
    });

    //click for scroll to top
    $('.scrollToTop').click(function(){
        $('html, body').animate({scrollTop: 0}, 400);
    });
  
    //scroll
    $('body').scrollspy({target: 'projects-scroll'})
    $('body').scrollspy({target: 'social-scroll'})
    $('body').scrollspy({target: 'navbar-scroll'})
  });
</script>









 