<div class="hero">
  <!--h1>HEBWO</h1-->
</div>


<div class="projects" id="projects-scroll">
  <h3>Projects</h3>
  <br />
    <div class="row">
      <div class="col-xs-6 col-md-3" id="splurty">
        <figure class="effect-honey">
        <%= image_tag 'splurty.png', class: 'img-responsive' %>
          <figcaption>
            <h2>
              <span>Zen</span>
              <small>| Quotes Generator</small>
            </h2>
          </figcaption> 
        </figure> 
      </div>

      <div class="col-xs-6 col-md-3" id="nomster">
         <figure class="effect-honey">
         <%= image_tag 'nomster.png', class: 'img-responsive' %>
          <figcaption>
            <h2>
              <!--span>NOMster</span-->
              <small>NOMster | Miami</small>
            </h2>
          </figcaption> 
        </figure>  
      </div>
      

      <div class="col-xs-6 col-md-3" id="flixter">
         <figure class="effect-honey">
         <%= image_tag 'flixter.png', class: 'img-responsive' %>
          <figcaption>
            <h2>
              <!--span>FLIXter</span-->
              <small>FLIXter</small>
            </h2>
          </figcaption> 
        </figure>  
      </div>

      <div class="col-xs-6 col-md-3" id="chess">
         <figure class="effect-honey">
         <%= image_tag 'knights-chess.png', class: 'img-responsive' %>
          <figcaption>
            <h2>
              <!--span>Chess</span-->
              <small>Chess Game</small>
            </h2>
          </figcaption> 
        </figure>   
      </div>
      
    </div>
</div>

<br class="clr" /> <!--makes certain social starts fresh -->

<div class="social" id="social-scroll">
  <!--h3>Recon</h3-->
  <div class="col-md-3 col-md-offset-5">
    <a href="https://github.com/rebelcl0ud/"><%= image_tag 'github.png', class: 'social-button' %></a>
    <a href="https://www.linkedin.com/in/jovankaplaceres"><%= image_tag 'linkedin.png', class: 'social-button' %></a> 
    <a href="https://twitter.com/mysticalstate"><%= image_tag 'twitter.png', class: 'social-button' %></a>
  </div>

</div>

<div class="contact" id="contact-scroll">
  <div class="col-md-12">
    <!--h4>jovanka.placeres@gmail.com</h4-->
  </div>
</div>

<div class="extra">
  <div class="col-md-12">
    <h5><a href="#navbar-scroll">back to top^</a></h5>
  </div>
</div>

<!-- -->

<script>
  //scroll
  $('body').scrollspy({target: 'projects-scroll'})
  $('body').scrollspy({target: 'social-scroll'})
  $('body').scrollspy({target: 'navbar-scroll'})

</script>









 