<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JO | Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://use.fontawesome.com/f1d0a33a1d.css">
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Source+Code+Pro" rel="stylesheet">
</head>
<body>
  <div id="wrap">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-scroll">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                
          <%= link_to root_path do %>
            <%= image_tag 'JOsig.png', id: "joIcon" %>
          <% end %>
          <div class="nav-social">
            <a href="https://github.com/rebelcl0ud/"><%= image_tag 'github.svg', class: 'social-button', id: 'social-github' %></a> 
            <a href="https://www.linkedin.com/in/jovankaplaceres"><%= image_tag 'linkedin.svg', class: 'social-button', id: 'social-linkedin' %></a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about-scroll">Me</a></li>
            <li><a href="#projects-scroll">Projects</a></li>
            <li><a href="#contact-scroll">Contact</a></li>
            <li><a href="https://rebelcl0ud.github.io/blog/">Blog</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Say Hi</h4>
        </div>
        <%= simple_form_for Contact.new do |f| %>
        <div class="modal-body">
          <%= f.input :name %>
          <br />
          <%= f.input :email %>
          <br />
          <%= f.input :message %>
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit,"Send!", class: 'btn btn-info' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <br class="clr" /> <!--makes certain footer starts fresh -->
  
  <div id="footer">
    <div class="container"> 
      <small> ©2017-2019. All Rights Reserved.</small>
      <br />
      <div id="memo"> made with <%= image_tag 'soda.png', id: 'soda' %> & my little girl <i class="fa fa-paw fa-lg" id="paw" aria-hidden="true"></i></div>  
    </div>
  </div>
</body>
</html>
